.about_course {
	.custom-collapse {
		margin-bottom: 5px;
		background: #fff !important;

		span {
			font-size: 20px;
		}

		.ant-collapse-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row-reverse;

			.ant-collapse-arrow {
				order: 2; /* Move arrow to the right side */
				margin-left: 8px;
			}

			// Uncomment if you need this style
			// .ant-collapse-header-text {
			//   order: 1; /* Ensure text is on the left side */
			//   flex-grow: 1; /* Take up remaining space */
			// }
		}
	}
}

.learn_course {
	display: flex;
	flex-direction: column;
	height: 100vh;

	.main {
		min-height: calc(100vh - 153px) !important;

		svg {
			color: #fff;
		}
	}

	.ant-tabs {
		flex-grow: 1;
		width: 100%;

		button:hover {
			border: inherit !important;
			border-top: 2px solid #581a57 !important;
			color: #581a57 !important;
		}
	}

	.ant-tabs-content-holder {
		flex: 1;
		display: flex;
		height: calc(100vh - 60px); /* Adjust height based on the header size */
	}

	.tab-content {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 20px;
	}

	.custom-collapse {
		margin-bottom: 3px;
		background: #009ffd !important;

		span {
			font-size: 20px;
		}

		.ant-collapse-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #fff;
			flex-direction: row-reverse;

			.ant-collapse-arrow {
				order: 2; /* Move arrow to the right side */
				margin-left: 8px;
			}
		}
	}
}
